<div class="conocimiento">
    <ul class="estudios">
        <span>Estudios</span>
        <li>
            <h1>Secundaria</h1>
            <img src="../../../assets/San Agustin.png" id="escuela">
            <p class="educacion-descripcion">Estudios secundarios cursados en el Colegio San Agustín entre 2012 y 2017.</p>
        </li>

        <li>
            <h1>Universidad</h1>
            <img src="../../../assets/ungs.png" id="escuela">
            <p class="educacion-descripcion">Estudios actuales en la Universidad Nacional de General Sarmiento iniciados en 2017. Ingenieria Industrial y Tecnicatura en Informatica.</p>
        </li>
    </ul>
</div>