<h1>Skills</h1>

<div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2851e6'"
            [innerStrokeColor]="'#95b9df'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <circle-progress
            [percent]="50"
            [radius]="100"
            [showUnits]="false"
            [title]="'CSS'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2851e6'"
            [innerStrokeColor]="'#95b9df'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <circle-progress
            [percent]="20"
            [radius]="100"
            [showUnits]="false"
            [title]="'JavaScript'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2851e6'"
            [innerStrokeColor]="'#95b9df'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <circle-progress
            [percent]="45"
            [radius]="100"
            [showUnits]="false"
            [title]="'Ruby'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2851e6'"
            [innerStrokeColor]="'#95b9df'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
</div>
