@import url(https://fonts.googleapis.com/css?family=Roboto:700);

#fotodeperfil{
    position: absolute;
    width: 200px; 
    background: none;
    top: 45%;
    }

.nombre{
    position: absolute;
    top: 73%;
    font-family: Roboto;
    margin-left: 30px;
    width: 150px;
    text-align: center;
}

.yo{
    position: inherit;
    margin-left: 200px;
    float: left;
    font-family: Roboto;
    font-size: medium;

}