<div class="row">
    <div>
        <img src="../../../assets/logo 3.png" class="img-fluid">
    </div>

    <div>
        <p>Ariadna Solange Miino</p>
        <p>Full Stack Developer Jr.</p>
    </div>

    <div>
        <span>
            <h1>Acerca de Mi</h1>
            <p>Soy estudiante universitaria y me he desempeñado como traductora amateur de textos del inglés al español. Actualmente estoy cursando el programa #YoProgramo y el curso de Back End de Oracle Next Education . Además, estudio Ingeniería Industrial y Tecnicatura Superior en Informática en la Universidad Nacional de General Sarmiento.</p>
        </span>
    </div>
</div>