@import url(https://fonts.googleapis.com/css?family=Roboto:700);

.row{
    padding: 20px;
}

.div{
    text-align: center;
    background-color:  #78d8c0;
}

#fotodeperfil{
    background: none;
    width: 400px;
    text-align: center;
}

.nombre{
    top: 73%;
    font-family: Roboto;
    margin-left: 30px;
    width: 150px;
    text-align: center;
}

.yo{
    margin-left: 200px;
    float: left;
    font-family: Roboto;
    font-size: medium;
}

