
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/logo 3.png" class="img-fluid" id="fotodeperfil">
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p>Ariadna Solange Miino</p>
            <p>Full Stack Developer Jr.</p>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de Mi</h1>
                <p>Soy estudiante universitaria. Actualmente estoy cursando el programa #YoProgramo y el curso de Back End de Oracle Next Education . Además, estudio Ingeniería Industrial y Tecnicatura Superior en Informática en la Universidad Nacional de General Sarmiento.</p>
            </span>
        </div>
    </div>
