<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://www.youtube.com/channel/UC6WqVW5SuLmt4MXPEswv4Ig"><i class="fab fa-youtube"></i></a>
                <a href="https://github.com/Trylena"><i class="fa-brands fa-github"></i></a>
                <a href="https://222.twitch.tv/Trylena"><i class="fab fa-twitch"></i></a>
                <a href="https://www.linkedin.com/in/ariadna-miino-53a156162/"><i class="fab fa-linkedin"></i></a>
                <button type="button" class="btn btn-outline-light"> Iniciar Sesion </button>
        </div>
    </div>
</div>


