@import url(https://fonts.googleapis.com/css?family=Roboto:700);

header{
  height: 50px;
  margin-bottom: 5px;
}

.h1{
  font-size: 50px;
  position: absolute;
  margin: 5px;
}

header figure img {
  position: absolute;
	width: 100px;
	height: 60px;
  object-position: left;
  top: 0;
}


body {
  font-family: "Roboto";
  color: #ffffff;
  background: linear-gradient(180deg, #aea7da, #616dd4);
}

* {
  padding: 0;
  box-sizing: content-box;
}

.buttons {
  min-width: 500px;
  display: flex;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: linear-gradient(180deg, #aea7da, #616dd4);
  color: #ffffff;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
  float: right;
  left: 30%;
  margin-top: 5px;
}

.buttons a:hover {
  transform: scale(1.2);
}

.banner{
  width: 100%;
  height: 260px;
}

main{
  position: relative;
}

.logo{
  width: 250px;
  height: 250px;
  position: absolute;
  background: none;
  bottom: 20%;
  top: 10%;
  left: 0;
  z-index: 1;
  padding: 10px;
}

form {
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
  padding: 8px;
	width: 80vw;
	border-radius: 20px;
}

main form h1 {
	margin: 8px 0;
	font-size: 2rem;
	text-align: center;
	
}
main form label input {
  margin-top: 8px;
  margin-left: calc(50% - 50%);
	border-radius: 4px;
	padding: 8px;
	width: 74vw;
	border-style: none;
	font-size: 1.6rem;
	font-weight: bold;
}

main form p{
  text-align:center;
  margin-top: 4px;
}
main form p a{
  font-size:1.2rem !important;
  text-decoration: none;
}

.AboutMe{
  font-size: 25px;
  padding: 20px;
  position: relative;
  margin-left: 12%;

}

.cuerpo{
  font-weight: lighter;
  font-size: 20px;
  margin-right: 10%;
}

.h1 {
  background-color: #ffffff;
}

.conocimiento{
  display: inline-block;
  width: 940px;
  margin: 0 auto;
  padding: 50px;
}


.conocimiento li{
  display: inline-block;
  text-align: center;
  width: 40%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: black;
}


footer {
  margin-top: 20px;
	font-size: 1.5rem;
  color: #000000;
  display:block;  
  width: 100vw;
  height: 120vw;
  object-position: bottom;
}
footer div {
	background-color: #ffffff;
	padding: 10px;
  text-align:center;
}

