

<div class="row">
    
    <h1>Skills:</h1>

    <div class="progreso">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'#ffffff'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2851e6'"
            [innerStrokeColor]="'#95b9df'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <circle-progress
            [percent]="50"
            [radius]="100"
            [showUnits]="false"
            [title]="'CSS'"
            [titleColor]="'#ffffff'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2851e6'"
            [innerStrokeColor]="'#95b9df'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <circle-progress
            [percent]="20"
            [radius]="100"
            [showUnits]="false"
            [title]="'JavaScript'"
            [titleColor]="'#ffffff'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2851e6'"
            [innerStrokeColor]="'#95b9df'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <circle-progress
            [percent]="45"
            [radius]="100"
            [showUnits]="false"
            [title]="'Ruby'"
            [titleColor]="'#ffffff'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2851e6'"
            [innerStrokeColor]="'#95b9df'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
</div>
