
    <div class="row">
        <h1>Estudios:</h1>
        <div class="col-lg-1"> </div>
        <div class="col-sm-3 col-md-6 col-lg-12">
            <ul class="estudios">
                <li>
                    <h3>Secundaria - (2012-2017)</h3>
                    
                    <img class="referencia" src="../../../assets/San Agustin.png" id="escuela">
                    <p class="educacion-descripcion">Estudios secundarios cursados en el Colegio San Agustín para el titulo de Bachiller en Ciencias Sociales</p>
                </li>

                <li>
                    <h3>Universidad - (2018-Actualmente)</h3>
                    
                    <img class="referencia" src="../../../assets/ungs.png" id="escuela">
                    <p class="educacion-descripcion">Estudios en la Universidad Nacional de General Sarmiento para los titulos de Ingenieria Industrial y Tecnicatura en Informatica.</p>
                </li>
            </ul>

            <div>
                <div class="idiomas">

                        <circle-progress
                        [percent]="100"
                        [radius]="100"
                        [showUnits]="false"
                        [title]="'Español'"
                        [titleColor]="'#ffffff'"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="12"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#e4d601'"
                        [innerStrokeColor]="'#ece479'"
                        [animation]="true"
                        [animationDuration]="300"
                    ></circle-progress>

                        <circle-progress
                        [percent]="85"
                        [radius]="100"
                        [showUnits]="false"
                        [title]="'Ingles'"
                        [titleColor]="'#ffffff'"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="12"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#e4d601'"
                        [innerStrokeColor]="'#ece479'"
                        [animation]="true"
                        [animationDuration]="600"
                    ></circle-progress>
                </div>
            </div>
        
        </div>
    </div>
